@keyframes fly-left-right{
    0%{
        opacity: 0;
        transform: translate(-200px,0);
    }
    20%{
        opacity: 1;
        transform: translate(10px,0);
    }
    80%{
        opacity: 1;
        transform: translate(5px,0);
    }
    100%{
        opacity: 0;
        transform: translate(200px,0);
    }
}

html{
    overflow-x: hidden;
}
